-# Header of table
.legend

	-# Stats
	%span.stat
		!= __('decoy::list.full_header.total')
		%span.badge= number_format($count)

	-# Potentially contain other buttons
	.pull-right.btn-toolbar

		-# Download CSV
		- if ($is_exportable)
			:php
				$url = DecoyURL::relative('csv', null, $controller);
				if (request()->has('query')) {
					$url .= '?query='.request('query');
				}
				$disabled = !$listing->count();
			%a.btn.btn-sm.outline.download.js-tooltip(href=$disabled?null:$url
				title="#{__('decoy::list.full_header.download')}"
				disabled=$disabled)
				.glyphicon.glyphicon-save

		-# Search togglers
		- if (!empty($search))
			.btn-group.search-controls.closed

				-# Search toggle
				%a.btn.btn-sm.outline.search-toggle
					.glyphicon.glyphicon-search

				-# Rest button
				%a.btn.btn-sm.outline.search-clear.js-tooltip(title="#{__('decoy::list.full_header.reset')}")
					.glyphicon.glyphicon-ban-circle

-# Search UI
!= View::make('decoy::shared.list._search', $__data)->render()
