
%tr.no-results(class=$listing->count()?'remove':null)
    %td(colspan="999")
        %p

            -if($many_to_many)
                != __('decoy::list.no_results.many_to_many.none', ['url' => URL::to(DecoyURL::relative('index', $parent_id, $controller)), 'description' => $description, 'title' => $title, 'parent' => str_singular($parent_controller_title)])

                -if (app('decoy.user')->can('update', $controller))
                    != __('decoy::list.no_results.many_to_many.none_create')

            -elseif ($parent_id)
                != __('decoy::list.no_results.none', ['url' => URL::to(DecoyURL::relative('index', $parent_id, $controller)), 'description' => $description, 'title' => $title, 'parent' => str_singular($parent_controller_title)])

                -if (app('decoy.user')->can('create', $controller))
                    != __('decoy::list.no_results.create', ['url' => URL::to(DecoyURL::relative('create', null, $controller))])

            -else
                No <b>#{$title}</b> have been created yet.

                -if (app('decoy.user')->can('create', $controller))
                    <span class="nowrap">Click <b><a href="#{URL::to(DecoyURL::relative('create', null, $controller))}"><span class="glyphicon glyphicon-plus"></span> New</a></b></span> to create one.
